<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Template</title>
        <meta charset="UTF-8"/>
        <meta name="description"
            content="SEO description of page here"/>
        <meta name="keywords"
            content="HTML CSS"/>
        <meta name="author"
            content="First Last"/>
        <link rel="stylesheet" type="text/css" href="../css/main_template.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>

    <body>
        <!-- Main Container -->
        <div class="container">
            <!-- Site Header -->
            <header>
                <!-- Header Navigation -->
                <nav>
                    <a href=""><img src="../images/DoubleCCircleGrey.png" alt="community centre logo" width="100" height=""/></a>
                    <!-- Navigation Menu -->
                    <div class="nav-menu">
                            <ul>
                                <li><a href="" class="current">HOME</a></li>
                                <li><a href="">ABOUT</a></li>
                                <li><a href="">EVENTS</a></li>
                                <li><a href="">CONTACT</a></li>
                            </ul>
                    </div>

                </nav>

            </header>

            <section class="body container">

                <!-- Page Header -->
                <header class="page-header">
                    <h1>Community Center</h1>
                    <div class="page-blurb">
                    <p>connections learning people</p>
                    </div>
                </header>

                <!-- Main Container -->
                <section class="card-container">
                    <!-- Left Column -->
                    <div class="card-col">

                        <a class="card blue H575" href="">
                            <div class="card-text">
                                <div class="card-link">CARD TITLE</div>
                                <h4>A Little About</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                            </div>
                            <img src="../images/img-placeholder.png" alt="">
                        </a>
    
                        <a class="card fawn H285" href="">
                            <div class="card-text">
                                <div class="card-link">CARD TITLE</div>
                                <h4>A Little About</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                            </div>
                            <img src="../images/img-placeholder.png" alt="">
                        </a>

                    </div>
                    <!-- Right Column -->
                    <div class="card-col">

                        <a class="card green H285" href="">
                            <div class="card-text">
                                <div class="card-link">CARD TITLE</div>
                                <h4>A Little About</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                            </div>
                            <img src="../images/img-placeholder.png" alt="">
                        </a>
        
                        <a class="card brown H575" href="">
                            <div class="card-text">
                                <div class="card-link">CARD TITLE</div>
                                <h4>A Little About</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                            </div>
                            <img src="../images/img-placeholder.png" alt="">
                            <div class="card-col orange"></div>
                        </a>

                    </div>
                </section>
               <!-- Bottom Card -->
                <section>
                    <a class="card full-card beige" id="anchor" href="">
                        <div class="card-text">
                            <div class="card-link">CARD TITLE</div>
                            <h4>A Little About</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                        </div>
                        <img src="../images/img-placeholder.png" alt="">
                    </a>

                </section>

                    <!-- Full Width Card Image Right -->
                    <section class="card full-card right green">
                        <div class="card-text">
                            <div class="card-link">CARD TITLE</div>
                            <h4>A Little About</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                        </div>
                        <img src="../images/img-placeholder.png" alt="">
                    </section>

                    <!-- Full Width Card Image Left -->
                    <section class="card full-card left fawn">
                        <div class="card-text">
                            <div class="card-link">CARD TITLE</div>
                            <h4>A Little About</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                        </div>
                        <img src="../images/img-placeholder.png" alt="">
                    </section>

                    <!-- Full Width Card iFrame Left -->
                    <section class="card full-card left blue">
                        <div class="card-text">
                            <div class="card-link">CARD TITLE</div>
                            <h4>A Little About</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                        </div>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1I-wBlhhTEiE42Tgp9QdIuQGjt7E&hl=en" height="300"></iframe>
                    </section>              

                    <!-- Text Image Set -->
                    <!-- Text Card -->
                    <section class="card-container">
                        <div class="card-col">

                            <div class="card text fawn H285">
                                <div class="card-text">
                                    <div class="card-link">CARD TITLE</div>
                                    <h4>A Little About</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatum deleniti odit officia alias molestiae nihil soluta repudiandae.</p>
                                </div>
                            </div>

                        </div>
                        <!-- Image Card -->
                        <div class="card-col">

                            <div class="card image brown H575">
                                <img src="../images/img-placeholder.png" alt="">
                                <div class="card-col orange"></div>
                            </div>

                        </div>
                    </section>

                <!-- Full Width Card Trio -->
                <section class="card full-card trio">
                    <div class="">
                        <img src="../images/img-placeholder.png" alt="">
                    </div>

                    <div class="">
                        <img src="../images/img-placeholder.png" alt="">
                    </div>

                    <div class="">
                        <img src="../images/img-placeholder.png" alt="">
                    </div>

                </section>

                <!-- Full Width Table -->
                <section class="card full-card table">
                    <h4>Table Heading</h4>
                    <table>
                        <tr>
                            <th>Event</th>
                            <th>Course/Group</th>
                            <th>Venue</th>
                            <th>Date</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Coffee Club</td>
                            <td>Group</td>
                            <td>Arts House</td>
                            <td>01 Jan 2022</td>
                            <td>Free</td>                            
                        </tr>

                    </table>
 
                        </section>

                <section class="card full-card form">
                    <h4>Contact Form</h4>
                    <form  name="contactForm" action="URL" method="post" autocomplete="on">
                        <div>
                            <label for="givenName" class="title">Given Name</label>
                            <input type="text" id="givenName" name="givenName" placeholder="" required/>
                        </div>
                        <div>
                            <label for="familyName" class="title">Family Name</label>
                            <input type="text" id="familyName" name="familyName" placeholder="" required/>
                        </div>
                        <div>
                            <label for="email" class="title">email</label>
                            <input type="email" id="email" name="email" placeholder="email@domain.com" required/>
                        </div>
                        <div>
                            <label for="date"class="title">Select today's date</label>
                            <input type="date" name="date"/>
                        </div>
                        <div class="radio-buttons">
                            <span class="title">Is your enquiry urgent?</span>
                            <input type="radio" name="" id="labelA" value="URGENT"/>
                            <label for="labelA">Yes</label>
                            
                            <input type="radio" name="" id="labelA" value="NOT URGENT"/>
                            <label for="labelA">No</label>
                            <br />
                        </div>
                        <div>
                            <label for="enquiryType" class="title">What does your enquiry relate to?</label>
                            <label class="check-container"><input type="checkbox" name="" value=""/>Community Groups</label>
                            <label class="check-container"><input type="checkbox" name="" value=""/>Education Programs</label>
                            <label class="check-container"><input type="checkbox" name="" value=""/>Other (please write details below)</label>                        
                        <div>
                            <label for="preferContact" class="title">How did you hear about us?</label>
                            <select>
                                <option value="optA">Local paper</option>
                                <option value="optB">Word of mouth</option>
                                <option value="optC">I am a regular!</option>
                                <option value="optD">Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="" class="title">Any other details you might lke to add?</label>
                            <textarea rows="4" cols="50" placeholder="type here"></textarea>
                        </div>
                        <div class="submit">
                            <input type="submit" value="Send Enquiry" id="submit"/>
                        </div>

                    </form>
                </section>

            </section> <!-- Main Container -->
                
            
            <!-- Footer -->
            <footer class="footer container">

                <!-- Footer Left Column -->
                <div class="footer-col lsection">
                    <!-- Quote -->
                    <div class="footer-quote">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere placeat aut, labore perspiciatis numquam distinctio amet voluptatum iusto quod hic enim cumque doloribus minus eos?</p>
                        <h4>Author Name</h4>
                    </div>

                    <!-- Copyright & Privacy -->
                    <div class="footer-copy-privacy">
                        <a>&copy; 2021 Community Centre</a>
                        
                        <a class="privacy" href="">Privacy Policy</a>
                        <a class="attribution" href="">Illustrations by Name</a>
                    </div>

                </div>
                <!-- Footer Right Column -->
                <div class="footer-col rsection">

                    <div class="footer-contact-header">
                        <h4>contact us</h4>
                    </div>

                    <div class="footer-address">
                        <p>123 Main Street, Melbourne VIC 3000</p>
                    </div>

                    <div class="footer-contact-links">
                        <a href="tel:614-0000-0000">+614-0000-0000</a>
                        <a href="mailto:email@communitycentre.com.au&subject=General email enquiry from website">email@communitycentre.com.au</a>
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>

                    <div class="footer-nav">
                        <div class="nav-col">
                            <ul>
                                <li><a class="current" href="">HOME</a></li>
                                <li><a href="">ABOUT</a></li>
                            </ul>    
                        </div>
                        
                        <div class="nav-col">
                            <ul>
                                <li><a href="">EVENTS</a></li>
                                <li><a href="">VOLUNTEER</a></li>
                            </ul>    
                        </div>             

                        <div class="nav-col">
                            <ul>
                                <li><a href="">FESTIVAL</a></li>
                                <li><a href="">VENUES</a></li>
                            </ul>    
                        </div>             

                    </div>

                </div>


            </footer>

        </div>

    </body>

</html>